/* .root-container {
    background-image: url('..//../public/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.avif'), linear-gradient(to top, black, rgb(123, 123, 123));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
} */