.banner {
    background-image: url('../../public/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.avif'), linear-gradient(to right, black, rgba(0, 0, 0, 0.684));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}